<div id="comments_count">Коментариев: <%= @university.comments.count %></div>
<div id="comments">
<% @university.comments.each do |c| %>
  <div id="comment">
    <div id="user-comment">
      <%= c.user.email %>
    </div>
    <div id="time-comment">
      <%= to_datetime(c.updated_at) %>
    </div>
    <div id="comment-text">
      <%= raw(c.comment_text) %>
    </div>
  </div>
<% end %>
</div>
