<table class="customers"id="speciality-table">
  <thead>
  <tr id="info">
    <th><%= sortable "name", "Специальность" %></th>
    <th>Шифр</th>
  </tr>
  </thead>
  <tbody>
  <% @specialities.each do |s| %>
  <tr>
    <td><%= link_to s.name, speciality_path(s) %></td>
    <td><%= s.cipher %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @specialities %>
