<div id="speciality-show">
<h1><%= @speciality.name %></h1>
<div id="speciality-desc">
  <%= @speciality.description %>
</div>
<div id="list-universities-for-speciality">
<% @university.each do |u|%>
  <div id="university-for-speciality">
    <%= u.name %>
  </div>
<% end %>
</div>
</div>
