
  <h1>Welcome to Education website!</h1>
  <p>Education is the process by which an individual is encouraged and enabled to fully develop his or her potential; it may also serve the purpose of equipping the individual with what is necessary to be a productive member of society. Through teaching and learning the individual acquires and develops knowledge and skills.</p>
  <p>The term education is often used to refer to formal education (see below). However, the word's broader meaning covers a range of experiences, from formal learning to the building of understanding and knowledge through day to day experiences. Ultimately, all that we experience serves as a form of education.</p>
  <p>It is widely accepted that the process of education is lifelong. Studies have shown that the child already in uetero is educated by the experiences it is exposed to.</p>
  <p><em>From Wikipedia, the free encyclopedia</em></p>
 

<div id="sidebar">
<div class="banner"><img src="/assets/banner1.jpg" width="240" height="122" alt=""></div>
<div class="banner"><img src="/assets/banner2.jpg" width="240" height="122" alt=""></div>
</div>
