
  <h1>Welcome to Education website!</h1>
  <p>Тестирование в педагогике известно очень давно. Историки утверждают, что еще в древнем Китае тестирование использовалось для оценки уровня знаний и подготовленности кандидатов на те или иные должности. Для проверки знаний учащихся тестирование впервые было применено в Великобритании в 1864 году Дж. Фишером. Уже в 1883 году британский психолог Ф. Гальтон разработал теорию проведения тестирования. А само слово "тест" в его сегодняшнем смысле впервые использовал в 1890 году американский психолог Дж. Кеттелл. В 1911 году немецкий психолог В. Штерн придумал понятие "коэффициента интеллектуальности", сейчас широко известное как "IQ".</p>
  <p>Пионерами в практическом применении тестирования для выпускников школ были американцы. The SAT Reasoning Test, стандартизованный тест для поступления в колледжи в США, ведет свою историю с 17 июня 1901 года, когда впервые 973 абитуриента прошли тестирование, по результатам которого принималось решение о зачислении на учебу в колледж. Первопроходцы сдавали тесты по английскому, французскому, немецкому, латинскому и греческому языкам, истории, математике, химии и физике.</p>
  <p>Конечно же, за сто с лишним лет система тестирования SAT очень сильно изменилась. Хотя метод тестирования SAT и не принят в США федеральным законом, имеет достаточно много противников и критиков, но до сих пор именно с его помощью в США проводится отбор среди абитуриентов при поступлении в большинство высших учебных заведений. Существует еще один достаточно популярный в США метод тестирования для абитуриентов - ACT (American College Testing Program), который применяется с 1959 года.</p>
  <p>Сегодня система тестирования для оценки уровня знаний абитуриентов применяется во многих странах мира: Австралии, Бразилии, Франции, Германии, Индии, Китае, Израиле и во многих других.</p>
  <p><em></em></p>
 

<!--<div id="sidebar">
<div class="banner"><img src="/assets/banner1.jpg" width="240" height="122" alt=""></div>
<div class="banner"><img src="/assets/banner2.jpg" width="240" height="122" alt=""></div>
</div>-->

