<h1>Популярные ВУЗЫ</h1>
<% @popular.each do |p| %>
  
  <% if p.images.logotip.empty? %>
  <% else %>
    
  <div class="popular">
  <%= link_to image_tag(p.images.logotip.first.photo_url(:thumb)), university_path(p) %>
  <div class="overimage"><%= p.name %></div>
  </div>
  <% end %>
<% end %>
