#topnav{
  padding: 10px 0px 12px;
  font-size: 11px;
  line-height: 23px;
  text-align: right;
  float:right;
}
  a.login {
    background:#f08f22;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url('signin-nav-bg-ie.png') no-repeat 0 0;
    *padding:4px 12px 6px;
    position:relative;
    margin-left:3px;
    span {
      background-image:url("toggle_down_light.png");
      background-repeat:no-repeat;
      background-position:100% 50%;
      padding:4px 16px 6px 0;
    }  
  }
  a.login hover {
    background:#5599BB;
    *background:transparent url("signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
  }
  a.menu-open {
    background:#f08f22!important;
    color:#666!important;
    outline:none;
  }
#topnav a.login, #topnav a.login:hover {
    *background-position:0 3px!important;
}

#small_login {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.login.menu-open span {
    background-image:url("toggle_up_dark.png");
    color:#789;
}
#login_menu {
   -webkit-border-radius: 5px 0 5px 5px;
   -moz-border-radius: 5px 0 5px 5px;
    display:none;
    background-color:#e9f192;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px; 
    right: 0px; 
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
    p {
      margin:0;
      .remember {
        padding:10px 0;
      }
    } 
    a {
      color:#6AC;
    }
    label {
      font-weight:normal;
    }
}
#login_menu input[type=email], #login_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #f8e73f;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}

#login_menu p.forgot, #login_menu p.complete {
    clear:both;
    margin:5px 0;
}
#login_menu p a {
    color:#27B!important;
}
#login_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#fb9a0e;
    border:1px solid #cca97c;
    color:#eeeedc;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#login_submit::-moz-focus-inner {
padding:0;
border:0;
}
#login_submit:hover, #login_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}
//current_user
#current_user {
  font-size: 11px;
  float:right;
}

//registration
  a.signup{
    background:#fba545;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url('signin-nav-bg-ie.png') no-repeat 0 0;
    *padding:4px 12px 6px;
    position:relative;
    margin-left:3px;  
  }
  a.signup hover {
    background:#f06a1a;
    *background:transparent url("signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
  }
  
  #slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:506px; margin:10px auto; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:500px; height:300px; padding:2px; border:1px solid #ccc; background:#000}
#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image {width:500px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url("left.gif") left center no-repeat}
#imgnext {right:0; background:url("right.gif") right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url("link.gif") center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url("scroll-left.gif") center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:81px; background:#222 url("scroll-right.gif") center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:456px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}
