@mixin rounded-top{
  -webkit-border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
  -o-border-radius:5px 5px 0px 0px;
}
.popular{
  float:left;
  position:relative;
  margin-right:20px;
  border: 2px solid black;
  margin-bottom: 20px;

  .overimage{
    position:absolute;
    top:76px;
    padding:3px 5px;
    left:0;
    width:190px;
    height:20px;
    color:#FFFFFF;
    font-size:10px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.6);
    font-weight:bold;
    .overimage-field{
      display: block;
      margin-bottom:1px;
    }
  } 
}
//                  img{
//          height:95px;
//          width:150px;
//          box-shadow: 0 0 6px #8F8F8F;
//          box-shadow: 0 0 6px rgba(0,0,0,0.4);
//          -moz-box-shadow: 0 0 6px rgba(0,0,0,0.4);
//          -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.4);
//          @include rounded-top;
//          &:hover{
//            box-shadow: 0 0 5px black;
//            box-shadow: 0 0 10px rgba(0,0,0,0.5);
//            -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
//            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
//          }
//        }
