html,body{margin:0;padding:0;width:100%;background: url("main_background.jpg")  repeat scroll #131313;height:100%;font-family:Arial, Helvetica, sans-serif; color: #4c4c4c;}
* html #wrap{height: 100%;}
p{font-family:Arial, Helvetica, sans-serif; margin-top:0px;}

a img{border:0;}
a{color: #ff8400;text-decoration:underline;}
a:hover{color: #f5bd01;	text-decoration:underline;}
a.hidden{text-decoration: none;color:#000;cursor:default;}

form{margin:0;padding:0;}
div.clr{clear:both;}

/*ul{margin:0 0 0 20px;padding:0;list-style-type: square;line-height: 16px;}*/

h1{font-size:20px;font-weight:normal;color:#000;margin:5px 0 10px;}
h2{font-size:16px;font-weight:normal;color:#000;margin:2px 0 7px;}

#wrap{position:relative; min-height:100%; margin:0 auto; width:100%;}
#page{width:990px;margin:0 auto; padding-bottom:70px;}

#top{height:81px;margin: 0 auto; width: 990px; overflow:hidden;}
/*#header{position:relative; background:url('img01.jpg') no-repeat; height:248px;}*/
/*	#intro{width:386px; margin:30px 0 0 30px; font-size:12px; position:absolute;}*/
	#logo{position:absolute; margin:20px 0 0 20px;}
	#company_name{font-size:1.3em;font-weight:normal;text-transform: none;color: #ff8400; font-family:Tahoma, Geneva, sans-serif; margin:25px 0 0 95px; width:300px; position:absolute;}


#menu {
  color: #FFF;
  padding: 10px 0 0;
  white-space: nowrap; 
  height:40px;
  background: url('smenu.png') repeat-x scroll 0 0;
  -webkit-border-radius:12px;
    -moz-border-radius:8px;
    border-radius:8px;
    -o-border-radius:8px;
}
/*	#menu .item{padding:0 18px; background:url('mbg.png') repeat-x; font-size:14px; vertical-align:top; line-height:35px;}*/
/*	#menu a{text-decoration: none;color: #FFF;}*/
/*	#menu a:hover{color: #FFF;text-decoration: underline;}*/
/*	*/
/*	#menu {*/
/*	  float:center;*/
/*	  ul{*/
/*	    list-style-type:none; */
/*	    li {*/
/*	      font-size:14px;*/
/*	      padding:0 18px;*/
/*	      vertical-align:top; */
/*	      line-height:35px;*/
/*	      text-align:center;*/
/*	      display: inline;*/
/*	      background: url('mbg.png') repeat-x;*/
/*	      a {*/
/*	        text-decoration:none;*/
/*	        color: #FFF;*/
/*	      }*/
/*	    }*/
/*	  }*/
/*  }*/
#example-one { 
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 960px;
  li { 
    display: inline;
    a { 
      color: #232323;
      font-size: 14px;
      display: block;
      float: left;
      padding: 6px 10px 4px 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
    a:hover { color: white; }
  }
}
#magic-line { position: absolute; bottom: -2px; left: 0; width: 100px; height: 2px; background: #fe4902; }
#search {
  float:right;
  padding-top: 4px;
  #q {
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -o-border-radius:8px;
  height:20px;
  width:200px;
  border:none;
  float:left;
  padding:2px 7px;
  background: #fafafa;
  }
  #q:hover{
    border:none; 
  }
  #submit-search{
    position:relative;
    left:-19px;
    border:none;
    background:#fff url("search1.png") no-repeat 0px;
    width:20px;
    height:20px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    -o-border-radius:12px;
  }
  #submit-search:hover{
    cursor:pointer;
  }
}


#contentwrap{
  position:relative;
  overflow:hidden;
  padding: 0 0 0 10px;
  margin: 0;
  background: #fafafa repeat-y  scroll 0 0;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -o-border-radius:8px;

	#body_area{
	  color:#000;
	  text-align: justify;
	  margin: 0;
	  padding: 0px;
	  vertical-align: top;
	  float:left;
	  width:650px;
	  font-size:12px;
	}
	#sidebar{
	  float:left;
	  background: #f4e5e5 no-repeat scroll 0 0;
	  height: auto;
	  width:320px;
	  padding: 3px;
	  .social{
	    background-color: #ededed;
	    border: 1px solid #dbdbdb;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    list-style: none;
	    width: 270px;
	    padding: 10px 0 0 10px;
	    margin: 10px 0 0 10px;
	    height: 40px;
	    
	    li{
	      background-repeat: no-repeat;
	      display: inline;
	      float: left;
	    
	    }
	    .facebook{
	      background: url('facebook_32.png') no-repeat;
	      
	    }
	    .img{
	      padding-right: 11px;
	    }
	  }
	}
}
#login_form{height: 20px;width: 150px;font-size: 12px;}

#footer{
  height:100px; 
  background:#8ec227 url('footer_bg.png') no-repeat scroll 0 0;
  width: 990px; 
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -o-border-radius:8px;
  margin: 0;
  }
	#bottom_menu{
	  background-color:rgba(0, 0, 0, 0.07);-webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -o-border-radius:8px;
	  width:880px;
	  margin:0 auto;
	  color:#fff;
	  text-align:left;
	  padding: 15px 0px 4px;
	  font-size:12px;
	  a{
	    color:#fff;
	    text-decoration:underline;
	    padding:0 10px;
	  }
	}
	#bottom_menu a:hover{color:#000;text-decoration:underline;}

	#bottom_addr{
	  width:860px;
	  margin:0 auto;
	  color:#000;
	  text-align:left;
	  padding: 4px 0px 15px;
	  font-size:11px;
	  a{
	    text-decoration:underline;
	  }
	}
	#bottom_addr a:hover{
	  text-decoration: underline;
	}
