#uni-show{
  padding-top: 9px;
  #title{
    font-style: italic;
  }
}
#univer-list{
  border-bottom: 3px dotted #444433;
  
}
#universities{
  
}
#univer-name{
  a{
    color: #bdbdbd;
    font-family: italic;
  }
}
#univer-photo{
  float:left;
}
