<% if object.errors.any? %>
  <div class="errorExplanation">
    <p class="error-title">Ошибки:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
